@model OperatorManagementBL.DTOs.SimDTO

@{
    ViewBag.Title = "حذف سیم‌کارت";
}

<h2> حذف سیم‌کارت</h2>
<h3>آیا از حذف این سیم‌کارت مطمئن هستید؟</h3>
<hr />
<dl class="row mt-4">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Number)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Number)</dd>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <dt class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger text-white" />
            @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-info text-white mx-2" })
        </dt>
    }
</dl>
