
<div class="toast-container">

    <div id="invalidDurationToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">تماس ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            مدت زمان تماس معتبر نیست
        </div>
    </div>

    <div id="callSuccessToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">تماس موفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            تماس با موفقیت انجام شد
        </div>
    </div>

    <div id="callFailedInsuffienceBalanceToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">تماس ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            تماس به دلیل کمبود موجودی انجام نشد
        </div>
    </div>

    <div id="callFailedInactiveFromSimcardToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">تماس ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            تماس به دلیل غیرفعال بودن سیم‌کارت مبدا انجام نشد
        </div>
    </div>

    <div id="callFailedInactiveToSimcardToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">تماس ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            تماس به دلیل غیرفعال بودن سیم‌کارت مقصد انجام نشد
        </div>
    </div>

    <div id="callFailedUnhandledToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">تماس ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            تماس به دلیل نامعلوم انجام نشد
        </div>
    </div>




    <div id="smsSuccessToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام موفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            پیام با موفقیت ارسال شد
        </div>
    </div>

    <div id="smsFailedInsuffienceBalanceToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            پیام به دلیل کمبود موجودی ارسال نشد
        </div>
    </div>

    <div id="smsFailedInactiveFromSimcardToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            پیام به دلیل غیرفعال بودن سیم‌کارت مبدا ارسال نشد
        </div>
    </div>

    <div id="smsFailedInactiveToSimcardToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            پیام به دلیل غیرفعال بودن سیم‌کارت مقصد ارسال نشد
        </div>
    </div>

    <div id="smsFailedUnhandledToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            پیام به دلیل نامعلوم ارسال نشد
        </div>
    </div>




    <div id="InvalidFromToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            شماره مبدا معتبر نمی‌باشد
        </div>
    </div>

    <div id="InvalidToToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">پیام ناموفق</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            شماره مقصد معتبر نمی‌باشد
        </div>
    </div>

</div>