
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود - سیستم مدیریت اپراتور</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
</head>
<body dir="rtl">
    <nav class="navbar navbar-expand-lg bg-light shadow-sm">
        <div class="container-fluid">
            @Html.ActionLink("سیستم مدیریت اپراتور", "Login", "User", null, new { @class = "fs-5 fw-bold" })
        </div>
    </nav>

    <div class="container-fluid">
        <section class="text-center">

            @RenderBody()

        </section>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/fontawesome/js/all.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
